# Environment conda3--python3
## Coding UTF-8
### Import Libraries

In [1]:
import sys
print("Python: {}".format(sys.version))
import pandas as pd
print("pandas: {}".format(pd.__version__))
import numpy as np
print("numpy: {}".format(np.__version__))
import mysql.connector
print("connector: {}".format(mysql.connector.__version__))

Python: 3.7.7 (default, May  6 2020, 11:45:54) [MSC v.1916 64 bit (AMD64)]
pandas: 1.0.3
numpy: 1.18.1
connector: 8.0.18

### Connect to Database

In [2]:
#connect to database
con = mysql.connector.connect(
    host = "156.67.222.148",
    user = "u656477047_user",
    password = "tar15234",
    database = "u656477047_ppmb",
    port = "3306"
)

if con.is_connected():
    db_Info = con.get_server_info()
    print("Connected to MySQL Server version: ", db_Info)
    #cursor
    cur = con.cursor()
    cur.execute("select database();")
    record = cur.fetchone()
    print("You\'r connected to the database: ", record)

Connected to MySQL Server version:  5.5.5-10.2.31-MariaDB
You'r connected to the database:  ('u656477047_ppmb',)

### Execute the Query

In [3]:
SQL_Query_Land = pd.read_sql_query("SELECT ID_Lands,ColorType,CostestimateB,SellPrice,MarketPrice,AsseStatus,RoadType,GroundLevel FROM lands", con)
df_land = pd.DataFrame(SQL_Query_Land)

if (con.is_connected()):
        #close the cursor
        cur.close()
        #close the connection
        con.close()
        print()
        print("MySQL connection is closed")
        print()

MySQL connection is closed

### Clean Data --Land_Dataset

In [4]:
# show example data from loaded file
df_land

,ID_Lands,ColorType,CostestimateB,SellPrice,MarketPrice,AsseStatus,RoadType,GroundLevel
0,l0075,พื้นที่สีขาวมีกรอบและเส้นทะแยงสีเขียว – ที่ดิน...,8000000,7000000,7500000,ว่าง,คอนกรีต,สูงกว่าถนน
1,l0316,พื้นที่สีม่วง – ที่ดินประเภทอุตสาหกรรมและคลังส...,3000000,3600000,3400000,ว่าง,ยางมะตอย,ต่ำกว่าถนน
2,l0401,พื้นที่สีส้ม – ที่ดินประเภทที่อยู่อาศัยหนาแน่น...,8500000,8720000,8600000,ว่าง,คอนกรีต,ต่ำกว่าถนน
3,l0437,พื้นที่สีเขียว – ที่ดินประเภทชนบทและเกษตรกรรม,43500000,45000000,46000000,ว่าง,โคลน,สูงกว่าถนน
4,l0438,พื้นที่สีน้ำตาล – ที่ดินประเภทที่อยู่อาศัยหนาแ...,25400000,26400000,26000000,ว่าง,คอนกรีต,ต่ำกว่าถนน
...,...,...,...,...,...,...,...,...
108,l9275,พื้นที่สีเขียว – ที่ดินประเภทชนบทและเกษตรกรรม,10000000,8500000,8000000,ว่าง,โคลน,ต่ำกว่าถนน
109,l9339,พื้นที่สีส้ม – ที่ดินประเภทที่อยู่อาศัยหนาแน่น...,50000000,80000000,85000000,ว่าง,ยางมะตอย,ต่ำกว่าถนน
110,l9626,พื้นที่สีเม็ดมะปราง – ที่ดินประเภทคลังสินค้า,1500000,1580000,1600000,ว่าง,ยางมะตอย,ต่ำกว่าถนน
111,l9800,พื้นที่สีม่วง – ที่ดินประเภทอุตสาหกรรมและคลังส...,28000000,30000000,29500000,ว่าง,โคลน,ต่ำกว่าถนน
112,l9979,พื้นที่สีม่วง – ที่ดินประเภทอุตสาหกรรมและคลังส...,16000000,16200000,15000000,ว่าง,คอนกรีต,สูงกว่าถนน

#### Drop Rows with missing Values

In [5]:
df_land_droped = df_land.dropna(axis='rows')
df_land_droped

,ID_Lands,ColorType,CostestimateB,SellPrice,MarketPrice,AsseStatus,RoadType,GroundLevel
0,l0075,พื้นที่สีขาวมีกรอบและเส้นทะแยงสีเขียว – ที่ดิน...,8000000,7000000,7500000,ว่าง,คอนกรีต,สูงกว่าถนน
1,l0316,พื้นที่สีม่วง – ที่ดินประเภทอุตสาหกรรมและคลังส...,3000000,3600000,3400000,ว่าง,ยางมะตอย,ต่ำกว่าถนน
2,l0401,พื้นที่สีส้ม – ที่ดินประเภทที่อยู่อาศัยหนาแน่น...,8500000,8720000,8600000,ว่าง,คอนกรีต,ต่ำกว่าถนน
3,l0437,พื้นที่สีเขียว – ที่ดินประเภทชนบทและเกษตรกรรม,43500000,45000000,46000000,ว่าง,โคลน,สูงกว่าถนน
4,l0438,พื้นที่สีน้ำตาล – ที่ดินประเภทที่อยู่อาศัยหนาแ...,25400000,26400000,26000000,ว่าง,คอนกรีต,ต่ำกว่าถนน
...,...,...,...,...,...,...,...,...
108,l9275,พื้นที่สีเขียว – ที่ดินประเภทชนบทและเกษตรกรรม,10000000,8500000,8000000,ว่าง,โคลน,ต่ำกว่าถนน
109,l9339,พื้นที่สีส้ม – ที่ดินประเภทที่อยู่อาศัยหนาแน่น...,50000000,80000000,85000000,ว่าง,ยางมะตอย,ต่ำกว่าถนน
110,l9626,พื้นที่สีเม็ดมะปราง – ที่ดินประเภทคลังสินค้า,1500000,1580000,1600000,ว่าง,ยางมะตอย,ต่ำกว่าถนน
111,l9800,พื้นที่สีม่วง – ที่ดินประเภทอุตสาหกรรมและคลังส...,28000000,30000000,29500000,ว่าง,โคลน,ต่ำกว่าถนน
112,l9979,พื้นที่สีม่วง – ที่ดินประเภทอุตสาหกรรมและคลังส...,16000000,16200000,15000000,ว่าง,คอนกรีต,สูงกว่าถนน

#### Change String to Numeric Value

In [6]:
from sklearn.preprocessing import LabelEncoder

# encoding string values into numeric values
le_colorTy = LabelEncoder()
le_asseSt = LabelEncoder()
le_roadTy = LabelEncoder()
le_groundLev = LabelEncoder()

In [7]:
# create new columns containing numeric code of former column
df_land_droped['ColorType_n'] = le_colorTy.fit_transform(df_land_droped['ColorType'])
df_land_droped['AsseStatus_n'] = le_asseSt.fit_transform(df_land_droped['AsseStatus'])
df_land_droped['RoadType_n'] = le_roadTy.fit_transform(df_land_droped['RoadType'])
df_land_droped['GroundLevel_n'] = le_groundLev.fit_transform(df_land_droped['GroundLevel'])
df_land_droped

,ID_Lands,ColorType,CostestimateB,SellPrice,MarketPrice,AsseStatus,RoadType,GroundLevel,ColorType_n,AsseStatus_n,RoadType_n,GroundLevel_n
0,l0075,พื้นที่สีขาวมีกรอบและเส้นทะแยงสีเขียว – ที่ดิน...,8000000,7000000,7500000,ว่าง,คอนกรีต,สูงกว่าถนน,1,4,2,3
1,l0316,พื้นที่สีม่วง – ที่ดินประเภทอุตสาหกรรมและคลังส...,3000000,3600000,3400000,ว่าง,ยางมะตอย,ต่ำกว่าถนน,4,4,4,2
2,l0401,พื้นที่สีส้ม – ที่ดินประเภทที่อยู่อาศัยหนาแน่น...,8500000,8720000,8600000,ว่าง,คอนกรีต,ต่ำกว่าถนน,5,4,2,2
3,l0437,พื้นที่สีเขียว – ที่ดินประเภทชนบทและเกษตรกรรม,43500000,45000000,46000000,ว่าง,โคลน,สูงกว่าถนน,6,4,7,3
4,l0438,พื้นที่สีน้ำตาล – ที่ดินประเภทที่อยู่อาศัยหนาแ...,25400000,26400000,26000000,ว่าง,คอนกรีต,ต่ำกว่าถนน,2,4,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
108,l9275,พื้นที่สีเขียว – ที่ดินประเภทชนบทและเกษตรกรรม,10000000,8500000,8000000,ว่าง,โคลน,ต่ำกว่าถนน,6,4,7,2
109,l9339,พื้นที่สีส้ม – ที่ดินประเภทที่อยู่อาศัยหนาแน่น...,50000000,80000000,85000000,ว่าง,ยางมะตอย,ต่ำกว่าถนน,5,4,4,2
110,l9626,พื้นที่สีเม็ดมะปราง – ที่ดินประเภทคลังสินค้า,1500000,1580000,1600000,ว่าง,ยางมะตอย,ต่ำกว่าถนน,7,4,4,2
111,l9800,พื้นที่สีม่วง – ที่ดินประเภทอุตสาหกรรมและคลังส...,28000000,30000000,29500000,ว่าง,โคลน,ต่ำกว่าถนน,4,4,7,2
112,l9979,พื้นที่สีม่วง – ที่ดินประเภทอุตสาหกรรมและคลังส...,16000000,16200000,15000000,ว่าง,คอนกรีต,สูงกว่าถนน,4,4,2,3

### Seperate ID_Property from Dataframe before Model Implementation

In [8]:
ID_Lands = df_land_droped[['ID_Lands']]
ID_Lands

    ID_Lands
0      l0075
1      l0316
2      l0401
3      l0437
4      l0438
..       ...
108    l9275
109    l9339
110    l9626
111    l9800
112    l9979

[113 rows x 1 columns]

### Select Columns that are used as Variables in Model

In [9]:
df_land_select = df_land_droped[['ColorType_n', 'CostestimateB', 'SellPrice', 'MarketPrice',  'RoadType_n', 'AsseStatus_n']]
df_land_select

,ColorType_n,CostestimateB,SellPrice,MarketPrice,RoadType_n,AsseStatus_n
0,1,8000000,7000000,7500000,2,4
1,4,3000000,3600000,3400000,4,4
2,5,8500000,8720000,8600000,2,4
3,6,43500000,45000000,46000000,7,4
4,2,25400000,26400000,26000000,2,4
...,...,...,...,...,...,...
108,6,10000000,8500000,8000000,7,4
109,5,50000000,80000000,85000000,4,4
110,7,1500000,1580000,1600000,4,4
111,4,28000000,30000000,29500000,7,4
112,4,16000000,16200000,15000000,2,4

### Import Decision Tree Model

In [10]:
import pickle
readdict_file = open('E:\Model\Model_Pickle_giniLand_V02.pkl', 'rb')
classification_dict = pickle.load(readdict_file)
readdict_file.close

#loaded_model_land = pickle.load(open("E:\Model\Model_Pickle_giniLand_V02", 'rb'))

### Make Predictions with the Dataframe & Model

In [11]:
land_prediction = classification_dict.predict(df_land_select)

In [12]:
land_prediction

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1])

In [13]:
dataframe = pd.DataFrame(land_prediction, columns=['UserType']) 
dataframe

     UserType
0           0
1           1
2           0
3           0
4           0
..        ...
108         0
109         1
110         0
111         0
112         1

[113 rows x 1 columns]

In [14]:
dataframe['UserType'] = np.where((dataframe.UserType==1),'Short-Term',dataframe.UserType)
dataframe

       UserType
0             0
1    Short-Term
2             0
3             0
4             0
..          ...
108           0
109  Short-Term
110           0
111           0
112  Short-Term

[113 rows x 1 columns]

In [15]:
dataframe = dataframe['UserType'].replace(to_replace=['0'], value='Long-Term')

In [16]:
df = pd.DataFrame(dataframe, columns=['UserType'])
df

       UserType
0     Long-Term
1    Short-Term
2     Long-Term
3     Long-Term
4     Long-Term
..          ...
108   Long-Term
109  Short-Term
110   Long-Term
111   Long-Term
112  Short-Term

[113 rows x 1 columns]

In [17]:
df_concat = pd.concat([ID_Lands, df], axis=1, sort=False)
df_concat

    ID_Lands    UserType
0      l0075   Long-Term
1      l0316  Short-Term
2      l0401   Long-Term
3      l0437   Long-Term
4      l0438   Long-Term
..       ...         ...
108    l9275   Long-Term
109    l9339  Short-Term
110    l9626   Long-Term
111    l9800   Long-Term
112    l9979  Short-Term

[113 rows x 2 columns]

In [18]:
#connect to database
con = mysql.connector.connect(
    host = "156.67.222.148",
    user = "u656477047_user",
    password = "tar15234",
    database = "u656477047_ppmb",
    port = "3306"
)

if con.is_connected():
    db_Info = con.get_server_info()
    print("Connected to MySQL Server version: ", db_Info)
    #cursor
    cur = con.cursor()
    cur.execute("select database();")
    record = cur.fetchone()
    print("You\'r connected to the database: ", record)

Connected to MySQL Server version:  5.5.5-10.2.31-MariaDB
You'r connected to the database:  ('u656477047_ppmb',)

In [19]:
for x,y in df_concat.iterrows():
    mycursor = con.cursor()
    cur.execute('''UPDATE lands SET UserType =%s WHERE ID_Lands=%s''', (y.UserType, y.ID_Lands))
    con.commit()
    print('Index: ', x, 'Value: ', y.UserType, 'ID_L :',y.ID_Lands)

Index:  0 Value:  Long-Term ID_L : l0075
Index:  1 Value:  Short-Term ID_L : l0316
Index:  2 Value:  Long-Term ID_L : l0401
Index:  3 Value:  Long-Term ID_L : l0437
Index:  4 Value:  Long-Term ID_L : l0438
Index:  5 Value:  Long-Term ID_L : l0447
Index:  6 Value:  Long-Term ID_L : l0456
Index:  7 Value:  Long-Term ID_L : l0651
Index:  8 Value:  Long-Term ID_L : l0728
Index:  9 Value:  Long-Term ID_L : l0797
Index:  10 Value:  Long-Term ID_L : l0858
Index:  11 Value:  Long-Term ID_L : l0890
Index:  12 Value:  Long-Term ID_L : l0893
Index:  13 Value:  Long-Term ID_L : l1045
Index:  14 Value:  Short-Term ID_L : l1198
Index:  15 Value:  Short-Term ID_L : l1284
Index:  16 Value:  Long-Term ID_L : l1378
Index:  17 Value:  Long-Term ID_L : l1414
Index:  18 Value:  Long-Term ID_L : l1555
Index:  19 Value:  Long-Term ID_L : l1570
Index:  20 Value:  Long-Term ID_L : l1621
Index:  21 Value:  Long-Term ID_L : l1712
Index:  22 Value:  Long-Term ID_L : l2366
Index:  23 Value:  Long-Term ID_L : l2724
Index:  24 Value:  Short-Term ID_L : l2751
Index:  25 Value:  Short-Term ID_L : l2872
Index:  26 Value:  Short-Term ID_L : l2873
Index:  27 Value:  Short-Term ID_L : l2999
Index:  28 Value:  Long-Term ID_L : l3083
Index:  29 Value:  Short-Term ID_L : l3113
Index:  30 Value:  Short-Term ID_L : l3183
Index:  31 Value:  Short-Term ID_L : l3241
Index:  32 Value:  Short-Term ID_L : l3273
Index:  33 Value:  Long-Term ID_L : l3275
Index:  34 Value:  Long-Term ID_L : l3320
Index:  35 Value:  Long-Term ID_L : l3359
Index:  36 Value:  Long-Term ID_L : l3386
Index:  37 Value:  Long-Term ID_L : l3423
Index:  38 Value:  Short-Term ID_L : l3546
Index:  39 Value:  Long-Term ID_L : l3697
Index:  40 Value:  Short-Term ID_L : l3749
Index:  41 Value:  Long-Term ID_L : l3844
Index:  42 Value:  Long-Term ID_L : l3871
Index:  43 Value:  Long-Term ID_L : l3910
Index:  44 Value:  Long-Term ID_L : l3930
Index:  45 Value:  Short-Term ID_L : l4137
Index:  46 Value:  Short-Term ID_L : l4159
Index:  47 Value:  Long-Term ID_L : l4252
Index:  48 Value:  Short-Term ID_L : l4384
Index:  49 Value:  Long-Term ID_L : l4404
Index:  50 Value:  Long-Term ID_L : l4444
Index:  51 Value:  Long-Term ID_L : l4486
Index:  52 Value:  Short-Term ID_L : l4526
Index:  53 Value:  Long-Term ID_L : l4549
Index:  54 Value:  Long-Term ID_L : l4930
Index:  55 Value:  Short-Term ID_L : l4947
Index:  56 Value:  Short-Term ID_L : l5147
Index:  57 Value:  Long-Term ID_L : l5212
Index:  58 Value:  Long-Term ID_L : l5293
Index:  59 Value:  Long-Term ID_L : l5316
Index:  60 Value:  Long-Term ID_L : l5335
Index:  61 Value:  Long-Term ID_L : l5418
Index:  62 Value:  Long-Term ID_L : l5419
Index:  63 Value:  Long-Term ID_L : l5535
Index:  64 Value:  Long-Term ID_L : l5566
Index:  65 Value:  Short-Term ID_L : l5735
Index:  66 Value:  Long-Term ID_L : l5852
Index:  67 Value:  Short-Term ID_L : l5853
Index:  68 Value:  Long-Term ID_L : l5955
Index:  69 Value:  Long-Term ID_L : l5977
Index:  70 Value:  Long-Term ID_L : l6101
Index:  71 Value:  Short-Term ID_L : l6176
Index:  72 Value:  Short-Term ID_L : l6181
Index:  73 Value:  Long-Term ID_L : l6253
Index:  74 Value:  Long-Term ID_L : l6433
Index:  75 Value:  Long-Term ID_L : l6469
Index:  76 Value:  Long-Term ID_L : l6528
Index:  77 Value:  Short-Term ID_L : l6637
Index:  78 Value:  Short-Term ID_L : l6808
Index:  79 Value:  Long-Term ID_L : l6850
Index:  80 Value:  Long-Term ID_L : l6909
Index:  81 Value:  Long-Term ID_L : l6968
Index:  82 Value:  Long-Term ID_L : l7014
Index:  83 Value:  Long-Term ID_L : l7161
Index:  84 Value:  Long-Term ID_L : l7289
Index:  85 Value:  Long-Term ID_L : l7322
Index:  86 Value:  Long-Term ID_L : l7397
Index:  87 Value:  Long-Term ID_L : l7403
Index:  88 Value:  Short-Term ID_L : l7434
Index:  89 Value:  Long-Term ID_L : l7580
Index:  90 Value:  Long-Term ID_L : l7632
Index:  91 Value:  Short-Term ID_L : l7711
Index:  92 Value:  Long-Term ID_L : l7743
Index:  93 Value:  Long-Term ID_L : l7866
Index:  94 Value:  Long-Term ID_L : l8078
Index:  95 Value:  Long-Term ID_L : l8101
Index:  96 Value:  Short-Term ID_L : l8266
Index:  97 Value:  Long-Term ID_L : l8331
Index:  98 Value:  Short-Term ID_L : l8333
Index:  99 Value:  Long-Term ID_L : l8483
Index:  100 Value:  Short-Term ID_L : l8488
Index:  101 Value:  Long-Term ID_L : l8735
Index:  102 Value:  Long-Term ID_L : l8751
Index:  103 Value:  Long-Term ID_L : l8995
Index:  104 Value:  Long-Term ID_L : l9030
Index:  105 Value:  Long-Term ID_L : l9069
Index:  106 Value:  Long-Term ID_L : l9114
Index:  107 Value:  Long-Term ID_L : l9213
Index:  108 Value:  Long-Term ID_L : l9275
Index:  109 Value:  Short-Term ID_L : l9339
Index:  110 Value:  Long-Term ID_L : l9626
Index:  111 Value:  Long-Term ID_L : l9800
Index:  112 Value:  Short-Term ID_L : l9979

### Close the Databse Connection

In [20]:
if (con.is_connected()):
        #commit the transaction when changes made to database
        con.commit()
        #close the cursor
        cur.close()
        #close the connection
        con.close()
        print()
        print("MySQL connection is closed")
        print()

MySQL connection is closed